.App {
  text-align: center;
}

.product-page-layout{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  justify-items: center;
}

.cart-page-layout{
  display: grid;
  grid-template-columns: 70% 25%;
  justify-content: center;
}

.bg-color{
  background-color: antiquewhite;
}
.space-bw{
  justify-content: space-between;
}